/* General List Tab */

.student-list {
    margin-top: 20px;
    overflow-x: auto;
}

#studentTable {
    width: 100%;
    border-collapse: collapse;
}

#studentTable th, #studentTable td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
    text-align: left;
}

#studentTable th {
    background-color: #f2f2f2;
    color: #333333;
}

#studentTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#studentTable tbody tr:hover {
    background-color: #f2f2f2;
}

